@charset "UTF-8";

#reken{
  width:40%;
  display: block;
  background-color: rgb(72, 131, 240);
}
input[type=submit]{
    width: 60px;
    margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}

input[type=reset]{
  width: 80px;
  margin-left: 15px;
margin-right: 15px;
display: inline-block;
}